<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
</head>

<body>
    <h1>Teacher</h1>
    <form action="/teachers/<%=teacher._id%>/students" method="POST">
        <label for="student">Select Student</label>
        <select name="student" id="student">
            <% for(let student of students){ %>
            <option value="<%=student.id%>"><%=student.name%></option>
            <% } %>
        </select>
        <button>Add</button>
    </form>
    <div><%=teacher.name%> - <%=teacher.age%></div>
    <a href="/teachers">All Teachers</a>

    <h2>Students</h2>
    <ul>
        <% for(let student of teacher.students) {%>
        <li><a href="/students/<%=student._id%>"><%=student.name%></a> Age:<%=student.age%></li>
        <% } %>
    </ul>

</body>

</html>